In [1]:
'''
Smallest Meaningful Component in a program
    Keywords, Identifiers, Literals, Operators
'''

'\nSmallest Meaningful Component in a program\n    Keywords, Identifiers, Literals, Operators\n'

In [3]:
'''
Keywords - They are special Reserved Words
            like- True, False, Class, Continue, else if, etc
'''
True = a

#we cannot store variable into a keyword

SyntaxError: cannot assign to True (1243859402.py, line 7)

In [4]:
'''
Identifiers - Identifiers are names used for variables, functions or objects
    Rules - No Special character except _(underscore).
          - Identifiers are case sensitive.
          - First letter cannot be a digit.
'''

'\nIdentifiers - Identifiers are names used for variables, functions or objects\n    Rules - No Special character except _(underscore).\n          - Identifiers are case sensitive.\n          - First letter cannot be a digit.\n'

In [5]:
student = "Nayan"

In [6]:
Student = "Rajani"

In [7]:
student

'Nayan'

In [8]:
Student

'Rajani'

In [9]:
'''
Literals - Literals are constants in python
    - it is a constant, and it won't be changed
'''

"\nLiterals - Literals are constants in python\n    - it is a constant, and it won't be changed\n"

In [10]:
a = "Nayan" # it is a literals

In [11]:
'''
Strings - Strings are sequence of characters enclosed within single quotes(''), double quotes(""), or triple quotes(''' ''')
        - "Nayan"
        - 'Nayan'
'''

'\nStrings - Strings are sequence of characters enclosed within single quotes(\'\'), double quotes(""), or triple quotes()\n        - "Nayan"\n        - \'Nayan\'\n'

In [12]:
str1 = 'This is my String'
str1

'This is my String'

In [13]:
str2 = "This is my double String"
str2

'This is my double String'

In [14]:
str3 = '''This is my String,
and this will be
'''
str3

'This is my String,\nand this will be\n'

In [49]:
#Extracting Individual Character from string
my_string = "My name is is Nayan"
my_string[-1], my_string[0], my_string[5:13]

('n', 'M', 'me is is')

In [50]:
# String Function
len(my_string)

19

In [52]:
my_string.lower()

'my name is is nayan'

In [53]:
my_string.upper()

'MY NAME IS IS NAYAN'

In [54]:
my_string.replace('e','z')

'My namz is is Nayan'

In [55]:
my_string.replace('z','e')

'My name is is Nayan'

In [58]:
my_string.count('Nayan')

1

In [59]:
my_string.count('is')

2

In [60]:
my_string.find('nayan')

-1

In [61]:
my_string.find('Nayan')

14

In [62]:
new_string = 'I Like Apples, water melon, Mangoes'

new_string.split(',')

['I Like Apples', ' water melon', ' Mangoes']