In [1]:
#Data Structure in Python
#Tuples, List, Dictionary, Set

In [2]:
'''
Tuples - Tuples is an ordered collection of elements enclosed within()
       - Tuples are immutable(We cannot change after)
       - store hetrogeneous(Different elements)
       - Example-> tup1 = (1,'a', True)
'''

"\nTuples - Tuples is an ordered collection of elements enclosed within()\n       - Tuples are immutable(We cannot change after)\n       - store hetrogeneous(Different elements)\n       - Example-> tup1 = (1,'a', True)\n"

In [7]:
tup1 = (1, True, 2.12, 5-7j, False)
tup1

(1, True, 2.12, (5-7j), False)

In [8]:
type(tup1)

tuple

In [9]:
tup1[0], tup1[-1], tup1[1:3]

(1, False, (True, 2.12))

In [11]:
# we cannot change a tuple
tup1[2] = "Hello"

TypeError: 'tuple' object does not support item assignment

In [12]:
len(tup1)

5

In [13]:
tup2 = (1,2,3,4,"Hello", "Lello")
tup2

(4, 'Hello', 'Lello')

In [21]:
tup1 + tup2

(1, True, 2.12, (5-7j), False, 4, 'Hello', 'Lello')

In [22]:
tup1,tup2

((1, True, 2.12, (5-7j), False), (4, 'Hello', 'Lello'))

In [23]:
tup2 + tup1

(4, 'Hello', 'Lello', 1, True, 2.12, (5-7j), False)

In [26]:
tup2*3

(4, 'Hello', 'Lello', 4, 'Hello', 'Lello', 4, 'Hello', 'Lello')

In [27]:
tup2*2 + tup1

(4, 'Hello', 'Lello', 4, 'Hello', 'Lello', 1, True, 2.12, (5-7j), False)

In [30]:
tup3 = (11,12,3,4,5,6)
min(tup3)

3

In [31]:
max(tup3)

12

In [32]:
'''
List - List is an ordered collection of elements enclosed within []
     - Lists are Mutable (we can change elements before and after)
     - |1 = [1, 'a', True]
'''

"\nList - List is an ordered collection of elements enclosed within []\n     - Lists are Mutable (we can change elements before and after)\n     - |1 = [1, 'a', True]\n"

In [33]:
l1 = [1, 'nayan', 2.12, True]
l1

[1, 'nayan', 2.12, True]

In [34]:
type(l1)

list

In [35]:
l1[1]

'nayan'

In [38]:
l1[0:2]

[1, 'nayan']

In [37]:
#replace
l1[2] = 100
l1

[1, 'nayan', 100, True]

In [43]:
#adding at last
l1.append("rajani")
l1

[1, 'nayan', 100, True, 'rajani']

In [44]:
#removing last one
l1.pop()
l1

[1, 'nayan', 100, True]

In [45]:
#Reverse the list
l1.reverse()
l1

[True, 100, 'nayan', 1]

In [55]:
#sorting the list
l2 = ["baba", "jan", "kan", "han"]
l2.sort()
l2

['baba', 'han', 'jan', 'kan']

In [56]:
#adding in the list
l2.insert(1,"low")
l2.insert(2,"jow")
l2

['baba', 'low', 'jow', 'han', 'jan', 'kan']

In [57]:
l1+l2

[True, 100, 'nayan', 1, 'baba', 'low', 'jow', 'han', 'jan', 'kan']

In [59]:
l2*2 + l1

['baba',
 'low',
 'jow',
 'han',
 'jan',
 'kan',
 'baba',
 'low',
 'jow',
 'han',
 'jan',
 'kan',
 True,
 100,
 'nayan',
 1]

In [60]:
'''
Dictionary - Dictionary is an unordered collection of Key-value pairs enclosed with {}
        - Dictionary is mutable (we can change elements before and after)
        - fruit = {"Apple": 10, "Orange": 20}
'''

'\nDictionary - Dictionary is an unordered collection of Key-value pairs enclosed with {}\n        - Dictionary is mutable (we can change elements before and after)\n        - fruit = {"Apple": 10, "Orange": 20}\n'

In [61]:
d1 = {"Apple": 50, "Mango": 100, "Banana": 50, "Guava": 120}
d1

{'Apple': 50, 'Mango': 100, 'Banana': 50, 'Guava': 120}

In [63]:
type(d1)

dict

In [64]:
d1.keys()

dict_keys(['Apple', 'Mango', 'Banana', 'Guava'])

In [65]:
d1.values()

dict_values([50, 100, 50, 120])

In [66]:
#change of value
d1["Mango"] = 200
d1

{'Apple': 50, 'Mango': 200, 'Banana': 50, 'Guava': 120}

In [67]:
#adding new key-value
d1["Orange"] = 80
d1

{'Apple': 50, 'Mango': 200, 'Banana': 50, 'Guava': 120, 'Orange': 80}

In [70]:
# to append we can use update
fruit1 = {'Apple': 50, 'Mango': 200} 

fruit2= {'Banana': 50, 'Guava': 120, 'Orange': 80}

fruit1.update(fruit2)

fruit1

{'Apple': 50, 'Mango': 200, 'Banana': 50, 'Guava': 120, 'Orange': 80}

In [71]:
#delete a key-value
fruit1.pop("Banana")

fruit1

{'Apple': 50, 'Mango': 200, 'Guava': 120, 'Orange': 80}

In [75]:
'''
Set - Set is an unordered and unindexed collection of elements enclosed with {}
    - Duplicates are not allowed in set
    - it is mutable
    - s1 ={1,'a', True}
'''

"\nSet - Set is an unordered and unindexed collection of elements enclosed with {}\n    - Duplicates are not allowed in set\n    - s1 ={1,'a', True}\n"

In [76]:
s1 = {1,3.45,"Nayan"}
s1

{1, 3.45, 'Nayan'}

In [78]:
#Duplicates will not store
s1 = {1,3.45,"Nayan", 1,1,1, "Nayan"}
s1

{1, 3.45, 'Nayan'}

In [79]:
#adding new element
s1.add("Hello")
s1

{1, 3.45, 'Hello', 'Nayan'}

In [80]:
s1.remove("Hello")
s1

{1, 3.45, 'Nayan'}

In [81]:
#randomly insert and update the s1
s1.update([10,20,30])
s1

{1, 10, 20, 3.45, 30, 'Nayan'}

In [82]:
#Union of Two sets
s1 = {1,2,3}
s2 = {"a", "b", "c"}

s1.union(s2)

{1, 2, 3, 'a', 'b', 'c'}

In [85]:
#Intersaction of Two sets
s1 = {1,2,3}
s2 = {2,3,4}

s1.intersection(s2)

{2, 3}